section.about
    .about-row
        .about-content
            .about-heading
                |Employee Engagement
            .about-desc
                |Give your employees the recognition that they deserve and make them feel empowered - Organizations with engaged employees have been seen to outperform companies with lower levels of engagement by up to 202% - Gallup.
        .about-img
            img(src="./assets/img/about_us/about_1.jpg", alt="")
    .about-row
        .about-content
            .about-heading
                |CUSTOMER DELIGHT
            .about-desc
                |Loyal consumers will make your job easier through Word of Mouth Marketing – still by far the most valuable form of marketing in the world. If they like you, they will tell their friends!
        .about-img
            img(src="./assets/img/about_us/about_2.jpg", alt="")
    .about-row
        .about-content
            .about-heading
                |WORKSPACE ENHANCEMENT
            .about-desc
                |First impressions last - set the tone as your client walks in the door and create a dynamic work environment for your employees.
        .about-img
            img(src="./assets/img/about_us/about_3.jpg", alt="")