section.customers
	h3.heading
		span.mark joiful
		|CUSTOMERS
	.container
		.customers-list
			.customer
				img(src="./assets/img/customers/customer_1.png", alt="Tajawal Customer")
			.customer
				img(src="./assets/img/customers/customer_2.png", alt="Womena Customer")
			.customer
				img(src="./assets/img/customers/customer_3.png", alt="Bayzat Customer")
			.customer
				img(src="./assets/img/customers/customer_4.png", alt="Al Ghurair Group Customer")