section.features
    h3.heading
        |SOME OF OUR UNIQUE FEATURES
    .container
        .features-list
            .feature
                .icon.img-ratio
                    .ratio.features-one-ratio
                    .ratio-inner
                        img(src="./assets/img/icons/features/feature_1.png", alt="Exclusive Promotion icon")
                .feature-heading
                    |Exclusive Promotion
                .feature-desc
                    |Bespoke pricing and bundles just for joi@work users
            .feature
                .icon.img-ratio
                    .ratio.features-tow-ratio
                    .ratio-inner
                        img(src="./assets/img/icons/features/feature_2.png", alt="Billing and Invoicing icon")
                .feature-heading
                    |Billing and Invoicing
                .feature-desc
                    |Flexible payment options to suit enterprise needs
            .feature
                .icon.img-ratio
                    .ratio.features-three-ratio
                    .ratio-inner
                        img(src="./assets/img/icons/features/feature_3.png", alt="Bulk Orders icon")
                .feature-heading
                    |Bulk Orders
                .feature-desc
                    |Upload .csv for one-time multiple-order request
            .feature
                .icon.img-ratio
                    .ratio.features-four-ratio
                    .ratio-inner
                        img(src="./assets/img/icons/features/feature_4.png", alt="Tracking and Reporting icon")
                .feature-heading
                    |Tracking and Reporting
                .feature-desc
                    |Better understand your gifting volumes and patterns
            .feature
                .icon.img-ratio
                    .ratio
                    .ratio-inner
                        img(src="./assets/img/icons/features/feature_5.png", alt="Scheduling icon")
                .feature-heading
                    |Scheduling
                .feature-desc
                    |Set and forget your monthly gifting requirements
            .feature
                .icon.img-ratio
                    .ratio.features-six-ratio
                    .ratio-inner
                        img(src="./assets/img/icons/features/feature_6.png", alt="Templates icon")
                .feature-heading
                    |Templates
                .feature-desc
                    |Templated messages and gift options for quick consistent checkout
                    