footer
    .container
        .inner-footer
            .social
                ul.social-links
                    li.footer-logo
                        .img-ratio
                            .ratio.footer-logo-ratio
                            .ratio-inner
                                a(href="#")
                                    img(src="./assets/img/footer/logo.png", alt="")
                    li.social-link
                        .img-ratio
                            .ratio
                            .ratio-inner
                                a(href="#")
                                    img(src="./assets/img/footer/instagram.png", alt="")
                    li.social-link
                        .img-ratio
                            .ratio
                            .ratio-inner
                                a(href="#")
                                    img(src="./assets/img/footer/facebook.png", alt="")
                    li.social-link
                        .img-ratio
                            .ratio
                            .ratio-inner
                                a(href="#")
                                    img(src="./assets/img/footer/twitter.png", alt="")
                    li.social-link
                        .img-ratio
                            .ratio
                            .ratio-inner
                                a(href="#")
                                    img(src="./assets/img/footer/youtube.png", alt="")
                ul.apps-stors
                    li
                        .img-ratio
                            .ratio.footer-app-ratio
                            .ratio-inner
                                a(href="#")
                                    img(src="./assets/img/footer/app-store.jpg", alt="")
                    li
                        .img-ratio
                            .ratio.footer-play-ratio
                            .ratio-inner
                                a(href="#")
                                    img(src="./assets/img/footer/google-play.png", alt="")
            .links-container
                .links.company-links
                    h4.footer-heading
                        |Company
                    ul.footer-links
                        li
                            a(href="#").footer-link About Us
                        li
                            a(href="#").footer-link Careers
                        li
                            a(href="#").footer-link Privacy Policy
                        li
                            a(href="#").footer-link Terms &amp; Conditions
                .links.account-links
                    h4.footer-heading
                        |Account Info
                    ul.footer-links
                        li
                            a(href="#").footer-link Customer Info
                        li
                            a(href="#").footer-link Addresses
                        li
                            a(href="#").footer-link Orders
                        li
                            a(href="#").footer-link Shopping Cart
                        li
                            a(href="#").footer-link Wishlist
                .links.blog-links
                    h4.footer-heading
                        |Blog
                    ul.footer-links
                        li
                            a(href="#").footer-link Home
                        li
                            a(href="#").footer-link joi, Love &amp; Happiness
                        li
                            a(href="#").footer-link Gifting
                        li
                            a(href="#").footer-link News
                        li
                            a(href="#").footer-link About joi
                .links.help-links
                    h4.footer-heading
                        |Help
                    ul.footer-links
                        li
                            a(href="#").footer-link FAQ
                        li
                            a(href="#").footer-link Contact Us