header
	nav
		.container
			.logo-holder
				.logo
					img(src="./assets/img/logo.png", alt="header logo")
				.slogan
					p Bespoke corporate gifting
						br
						|and enhancing work environments
			.features-list
				.feature
						img(src="./assets/img/icons/gift.png", alt="gift feature")
						span Bespoke gifting
				.feature
						img(src="./assets/img/icons/delivery-truck.png", alt="delivery truck feature")
						span Free Delivery
				.feature
						img(src="./assets/img/icons/man.png", alt="man feature")
						span Enterprise focused
	.hero
		.center
			h1 Flexible enterprise oriented gifting
				br
				|solutions for customers and employees
			.cta
				a(href="#").cta-btn GET IN TOUCH