section.inspiration
    h3.heading
        |SOURCE OF INSPIRATION
    .inspiration-slider.slider
        .slider-holder
            .slider-inner.inspiration-slider-trigger
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_1.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_2.jpg", alt="product 3")
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_3.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_4.jpg", alt="product 3")
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_2.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_1.jpg", alt="product 3")
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_4.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_3.jpg", alt="product 3")
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_5.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_2.jpg", alt="product 3")
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_1.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_3.jpg", alt="product 3")
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_2.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_5.jpg", alt="product 3")
                .slide-item
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_4.jpg", alt="product 2")
                    .slide
                        .item-img.img-ratio
                            .ratio.inspiration-ratio
                            .ratio-inner
                                img(src="./assets/img/inspiration/inspiration_1.jpg", alt="product 3")
    a(href="#").cta-btn GET IN TOUCH