section.products
    h3.heading
        |AS SEEN ON
    .container
        .product-slider.slider
            .slider-holder
                .slider-inner.product-slider-trigger
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-one-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_1.png", alt="product 1")
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-tow-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_2.png", alt="product 2")
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-three-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_3.png", alt="product 3")
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-four-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_4.png", alt="product 4")
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-five-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_5.png", alt="product 5")
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-six-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_6.png", alt="product 6")
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-seven-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_7.png", alt="product 7")
                    .slide-item
                        .item-img.img-ratio
                            .ratio.product-eight-ratio
                            .ratio-inner
                                img(src="./assets/img/products/product_8.png", alt="product 8")

