section.user-offers
	h3.heading
		span.mark joi@work
		|IS AN ONLINE ENTERPRISE GIFTING PLATFORM
	p.lead
		|designed to take the complexities out of choosing, organizing and delivering
		br
		|personalized bespoke gifting moments and workspace enhancements.
	.container
		.offers-list
			.offer
				img(src="./assets/img/icons/gift.png", alt="Tajawal Customer")
				span Bespoke gifting
			.offer
				img(src="./assets/img/icons/delivery-truck.png", alt="Womena Customer")
				span Free delivery
			.offer
				img(src="./assets/img/icons/man.png", alt="Bayzat Customer")
				span Enterprise focused