doctype
html
	head
		include ./sections/head
	body
		//- Start Header
		include ./sections/header
		//- End Header
		//- Start Customers Section
		include ./sections/customers
		//- End Customers Section
		//- Start User Offers Section
		include ./sections/user-offers
		//- End User Offers Section
		//- Start About Us Section
		include ./sections/about
		//- End About Us Section
		//- Start Features Section
		include ./sections/features
		//- End Features Section
		//- Start Products Section
		include ./sections/products
		//- End Products Section
		//- Start Inspiration Section
		include ./sections/inspiration
		//- End Inspiration Section
		//- Start Footer
		include ./sections/footer
		//- End Footer
		script(src="./assets/js/scripts.js")