section.inspiration
    padding: 30px 0 50px
    text-align: center
    h3.heading
        font-size: 1.6rem        
        padding-bottom: 20px
        margin-bottom: 50px
    .inspiration-slider
        .slider-holder
            position: relative
            overflow-x: hidden
            padding-bottom: 50px
            .slider-inner
                display: flex
                width: 200%
                .slide-item
                    width: 20%
                    margin: 0 5px
                    .slide
                        width: 100%
                        margin-bottom: 10px
                        transition: opacity .3s ease-in-out
                        &:hover
                            opacity: .9                 